@model List<Category>

<h1>Category List</h1>
<table>
    <tr>
        <th>Category Name</th>
        <th>@Model</th>
        <!-- Add more   as needed -->
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.category_name</td>
            <!-- Display other device properties here -->
        </tr>
    }
</table>
