@model List<Weakness>

<h1>Weakness List</h1>
<table>
    <tr>
        <th>Weakness Name</th>
        <th>Weakness Link</th>
        <!-- Add more   as needed -->
    </tr>
    @foreach (var weakness in Model)
    {
<tr>
    <td>@weakness.weakness_name</td>
    <td>@weakness.weakness_link</td>
    <!-- Display other device properties here -->
</tr>
    }
</table>
